<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Company Info -->
            <div class="col-md-4">
                <h5>CoverSphere</h5>
                <p>Providing reliable insurance solutions to protect what matters most. We're here to ensure your peace of mind with tailored policies and dedicated support.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="#about" class="text-white">About Us</a></li>
                    <li><a href="#services" class="text-white">Services</a></li>
                    <li><a href="#faq" class="text-white">FAQ</a></li>
                    <li><a href="/contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>

            <!-- Contact Information -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> 123 Insurance St, Cityville, Country</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 890</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@insurance.com" class="text-white">info@insurance.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <!-- Social Media Links -->
                <a href="https://facebook.com" target="_blank" class="text-white mx-2"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com" target="_blank" class="text-white mx-2"><i class="fa fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank" class="text-white mx-2"><i class="fa fa-linkedin"></i></a>
                <a href="https://instagram.com" target="_blank" class="text-white mx-2"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2024 CoverSphere Insurance. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript for Bootstrap and FontAwesome icons -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
